<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录成功</title>
	<!--引入css等-->
	<link th:replace="common :: head">
	<style type="text/css">
		h1 {
			text-align: center;
			margin-top: 200px;
		}
		h1 a {
			color:red;
		}
	</style>
</head>
<body>
		<div id="header">
				<img class="logo_img" width="563" height="103" alt="" th:src="@{/img/hope.jpg}" >
			<!--未登录菜单-->
			<div th:replace="common :: menu"></div>
		</div>
		
		<div id="main">
		
			<h1>登录成功 <a th:href="@{/index}">转到主页</a></h1>
	
		</div>
		<!--引入页脚-->
		<div th:replace="common :: foot"></div>
</body>
</html>